body {
  font-family: Helvetica, sans-serif;
}

div {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  /*height :200px;*/
}

#outer {
  background-color: thistle;
  height:200px;
}

#outer.selected {
  background-color: hotpink;
}

#inner {
  background-color: lavender;
height:100px;
}

#inner.selected {
  background-color: yellow;
}