body {
  font-family: Helvetica, sans-serif;
}

 img{
   position:absolute;
   width:50px;
   height:50px;
   top:470px;
   left:470px;
      }

#outer {
  position: absolute;
  background-color: thistle;
  left:400px;
  top:400px;
  height:200px;
  width:200px;
 
  }


#inner1 {
 position:absolute;
  background-color: lavender;
height:190px;
width: 190px;
left:405px;
top:405px;
}


 #inner2 {
position:absolute;
  background-color: thistle;
height:180px;
width: 180px;
left:410px;
top:410px; 
}

#inner3{
position:absolute;
  background-color: lavender;
height:170px;
width: 170px;
left: 415px;
top:415px;
 }

#inner4 {
  position:absolute;
  background-color: thistle;
height:160px;
width: 160px;
left:420px;
top:420px; 
}

#inner5 {
 position:absolute;
  background-color: lavender;
height:150px;
width: 150px;
left:425px;
top:425px; 
}

#inner6 {
position:absolute;
  background-color: thistle;
height:140px;
width: 140px;
top:430px;
left:430px; 
}

#inner7 {
position:absolute;
  background-color: lavender;
height:130px;
width: 130px;
top:435px;
left:435px; 
}

#inner8 {
 position:absolute;
  background-color: thistle;
height:120px;
width: 120px;
top:440px;
left:440px; 
}

#inner9{
position:absolute;
  background-color: lavender;
height:110px;
width: 110px;
left:445px;
top:445px;
} 

#inner10{
position:absolute;
  background-color: thistle;
height:100px;
width: 100px;
left:450px;
top:450px;
} 
#inner11{
position:absolute;
  background-color: lavender;
height:90px;
width: 90px;
left:455px;
top:455px;
} 
#inner12{
position:absolute;
  background-color: thistle;
height:80px;
width: 80px;
left:460px;
top:460px;
} 
#inner13{
position:absolute;
  background-color: lavender;
height:70px;
width: 70px;
left:465px;
top:465px;
} 
#inner14{
position:absolute;
  background-color: thistle;
height:60px;
width: 60px;
left:470px;
top:470px;
} 


