p {
    background-color:lavenderblush;
    border: 3px solid hotpink;
    width: 25%;
    text-align: justify;
    display: table;
    margin: 0 auto;
    padding: 10px;
}

h1 { 
    margin-left: 380px;
    text-align: inherit;
}


a { 
    color:blue;
    margin-left: 450px;
}


.class1 {
    background-color:yellow;
}


.class4 {
    font-size:10px;
    font-style:italic;
}

.gray {
    background-color: gray;
    border: 3px solid black;
    padding: 20px 30px;
    margin: 50px 100px;
}
